In [16]:
import pandas as pd
import re
import numpy as np
import math
import sklearn
import json
np.seterr(all="ignore")
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 100)
# -*- coding: utf-8 -*-

In [ ]:
paris_transports = pd.read_pickle("./DPE_FR.pkl")

## Paris Transports

In [102]:
paris_transports_file = open("/Users/kevinlim/Documents/GitHub/wdm_projet/originaux/positions-geographiques-des-stations-du-reseau-ratp.json","r")
paris_traports_array = json.load(paris_transports_file)

In [103]:
paris_transports = pd.DataFrame()
for i in range(len(paris_traports_array)):
    
    stop_name = paris_traports_array[i]["fields"]["stop_name"]
    latitude = paris_traports_array[i]["fields"]["stop_coordinates"][0]
    longitude = paris_traports_array[i]["fields"]["stop_coordinates"][1]
    
    list_to_append = [stop_name,latitude,longitude]
    line_labels = ['stop_name'] + ['latitude'] + ['longitude']
    dic = {line_labels[i]: list_to_append[i] for i in range(len(list_to_append))}   
    paris_transports = paris_transports.append(dic,ignore_index=True)

In [104]:
paris_transports

        latitude  longitude               stop_name
0      48.835948   2.629903         RUE DE LA FERME
1      48.846790   2.613691       COLLEGE LE LUZARD
2      49.011950   2.533291          ZONE TECHNIQUE
3      49.011465   2.515530          ENTRETIEN NORD
4      48.850066   2.499395                   AVRON
...          ...        ...                     ...
25333  48.903303   2.193392  BOULEVARD DE LA SEINE.
25334  48.889178   2.230883  BERTHELOT - CARRE VERT
25335  48.788242   2.293265  FONTENAY-AUX-ROSES RER
25336  48.785702   2.302516              LES BLAGIS
25337  48.779743   2.280461            ROBINSON RER

[25338 rows x 3 columns]

### Pickle chargement plus rapide

In [115]:
paris_transports.to_pickle("./paris_transports.pkl")

In [116]:
paris_transports = pd.read_pickle("./paris_transports.pkl")

### Paris Velib

In [105]:
paris_velib_file = open("/Users/kevinlim/Documents/GitHub/wdm_projet/originaux/velib-emplacement-des-stations.json","r")
paris_velib_array = json.load(paris_velib_file)

In [106]:
paris_velib = pd.DataFrame()
for i in range(len(paris_velib_array)):
    
    name = paris_velib_array[i]["fields"]["name"]
    latitude = paris_velib_array[i]["fields"]["coordonnees_geo"][0]
    longitude = paris_velib_array[i]["fields"]["coordonnees_geo"][1]
    
    list_to_append = [name,latitude,longitude]
    line_labels = ['name'] + ['latitude'] + ['longitude']
    dic = {line_labels[i]: list_to_append[i] for i in range(len(list_to_append))}   
    paris_velib = paris_velib.append(dic,ignore_index=True)

In [107]:
paris_velib

       latitude  longitude                              name
0     48.851296   2.325062                  Square Boucicaut
1     48.848563   2.320422                   Vaneau - Sèvres
2     48.822341   2.327862       Le Brix et Mesmin - Jourdan
3     48.867850   2.446748  Romainville - Vaillant-Couturier
4     48.895947   2.381134       Cambrai - Benjamin Constant
...         ...        ...                               ...
1391  48.836488   2.289725     Dominique Pado - Croix Nivert
1392  48.852731   2.344093      Saint-Séverin - Saint-Michel
1393  48.860898   2.295600         Bourdonnais - Tour Eiffel
1394  48.865236   2.300251        Marceau - Président Wilson
1395  48.829684   2.275343               Colonel Pierre Avia

[1396 rows x 3 columns]

### Lyon Velo

In [108]:
lyon_velo_file = open("/Users/kevinlim/Documents/GitHub/wdm_projet/originaux/velo-lyon.json","r")
lyon_velo_array = json.load(lyon_velo_file)

In [109]:
lyon_velos = pd.DataFrame()
for i in range(len(lyon_velo_array['features'])):
    dic = lyon_velo_array["features"][i]
    lyon_velos = lyon_velos.append(dic,ignore_index=True)

In [110]:
lyon_velos_f = pd.DataFrame()
for i in range(len(lyon_velos)):
    
    name = lyon_velos["properties"][i]["name"]
    latitude = lyon_velos["properties"][i]["lat"]
    longitude = lyon_velos["properties"][i]["lng"]
    
    list_to_append = [name,latitude,longitude]
    line_labels = ['name'] + ['latitude'] + ['longitude']
    dic = {line_labels[i]: list_to_append[i] for i in range(len(list_to_append))}   
    lyon_velos_f = lyon_velos_f.append(dic,ignore_index=True)

In [111]:
lyon_velos_f

                latitude           longitude                        name
0    45.7509549511840560  4.8392671207183300      Marseille / Université
1    45.7762463810845300  4.8716371652356000        Salengro / Descartes
2    45.7561939286588800  4.8027110791690140     Point du Jour / Granges
3    45.7915896614286200  4.8433313161068385            Branly / Pasteur
4    45.7193988058185000  4.8548015762351050  Vénissieux - Levy - Vienne
..                   ...                 ...                         ...
423  45.7742151784181300  4.8675042131350820          Piaton / Condorcet
424  45.7673654785190900  4.8056276995192775               Gorge de Loup
425  45.7646815056712300  4.8289833265225160    Place Ennemond Fousseret
426  45.7547065642496240  4.8534044474099280      Garibaldi / Pensionnat
427  45.7413487229911060  4.8797231637591720                     Laënnec

[428 rows x 3 columns]

### Lyon Transports

In [112]:
lyon_transports_file = open("/Users/kevinlim/Documents/GitHub/wdm_projet/originaux/tcl_sytral.json","r")
lyon_transports_array = json.load(lyon_transports_file)

In [113]:
lyon_transports = pd.DataFrame()
for i in range(len(lyon_transports_array['features'])):
    dic = lyon_transports_array["features"][i]
    lyon_transports = lyon_transports.append(dic,ignore_index=True)

In [114]:
lyon_transports_f = pd.DataFrame()
for i in range(len(lyon_transports)):
    
    stop_name = lyon_transports["properties"][i]["nom"]
    latitude = lyon_transports["geometry"][i]["coordinates"][0]
    longitude = lyon_transports["geometry"][i]["coordinates"][1]
    
    list_to_append = [stop_name,latitude,longitude]
    line_labels = ['stop_name'] + ['latitude'] + ['longitude']
    dic = {line_labels[i]: list_to_append[i] for i in range(len(list_to_append))}   
    lyon_transports_f = lyon_transports_f.append(dic,ignore_index=True)

In [117]:
lyon_transports_f

      latitude  longitude                 stop_name
0     4.751738  45.777151      Les Halles 102 - 104
1     4.751634  45.777006      Les Halles 102 - 104
2     4.825748  45.771651               Place Morel
3     4.823617  45.791116  Rochette Cercle d'Aviron
4     4.825988  45.793227  Caluire - Bords de Saone
...        ...        ...                       ...
4661  4.905645  45.653864     Corbas Musee Aviation
4662  4.905661  45.653970     Corbas Musee Aviation
4663  4.977020  45.716406                 Ratabizet
4664  4.915800  45.745985            Pagere Vivaldi
4665  4.905164  45.729925          Bron Jean Jaures

[4666 rows x 3 columns]

### Pickle chargement plus rapide

In [118]:
lyon_transports_f.to_pickle("./lyon_transports_f.pkl")

In [119]:
lyon_transports_f = pd.read_pickle("./lyon_transports_f.pkl")

### Export JSON Records

In [128]:
paris_transports

        latitude  longitude               stop_name
0      48.835948   2.629903         RUE DE LA FERME
1      48.846790   2.613691       COLLEGE LE LUZARD
2      49.011950   2.533291          ZONE TECHNIQUE
3      49.011465   2.515530          ENTRETIEN NORD
4      48.850066   2.499395                   AVRON
...          ...        ...                     ...
25333  48.903303   2.193392  BOULEVARD DE LA SEINE.
25334  48.889178   2.230883  BERTHELOT - CARRE VERT
25335  48.788242   2.293265  FONTENAY-AUX-ROSES RER
25336  48.785702   2.302516              LES BLAGIS
25337  48.779743   2.280461            ROBINSON RER

[25338 rows x 3 columns]

In [134]:
paris_transports.to_json (r'paris_transports.json',force_ascii=False,orient = 'records')

In [129]:
paris_velib

       latitude  longitude                              name
0     48.851296   2.325062                  Square Boucicaut
1     48.848563   2.320422                   Vaneau - Sèvres
2     48.822341   2.327862       Le Brix et Mesmin - Jourdan
3     48.867850   2.446748  Romainville - Vaillant-Couturier
4     48.895947   2.381134       Cambrai - Benjamin Constant
...         ...        ...                               ...
1391  48.836488   2.289725     Dominique Pado - Croix Nivert
1392  48.852731   2.344093      Saint-Séverin - Saint-Michel
1393  48.860898   2.295600         Bourdonnais - Tour Eiffel
1394  48.865236   2.300251        Marceau - Président Wilson
1395  48.829684   2.275343               Colonel Pierre Avia

[1396 rows x 3 columns]

In [133]:
paris_velib.to_json (r'paris_velib.json',force_ascii=False,orient = 'records')

In [135]:
lyon_transports_f

      latitude  longitude                 stop_name
0     4.751738  45.777151      Les Halles 102 - 104
1     4.751634  45.777006      Les Halles 102 - 104
2     4.825748  45.771651               Place Morel
3     4.823617  45.791116  Rochette Cercle d'Aviron
4     4.825988  45.793227  Caluire - Bords de Saone
...        ...        ...                       ...
4661  4.905645  45.653864     Corbas Musee Aviation
4662  4.905661  45.653970     Corbas Musee Aviation
4663  4.977020  45.716406                 Ratabizet
4664  4.915800  45.745985            Pagere Vivaldi
4665  4.905164  45.729925          Bron Jean Jaures

[4666 rows x 3 columns]

In [136]:
lyon_transports_f.to_json (r'lyon_transports.json',force_ascii=False,orient = 'records')

In [127]:
lyon_velos_f

                latitude           longitude                        name
0    45.7509549511840560  4.8392671207183300      Marseille / Université
1    45.7762463810845300  4.8716371652356000        Salengro / Descartes
2    45.7561939286588800  4.8027110791690140     Point du Jour / Granges
3    45.7915896614286200  4.8433313161068385            Branly / Pasteur
4    45.7193988058185000  4.8548015762351050  Vénissieux - Levy - Vienne
..                   ...                 ...                         ...
423  45.7742151784181300  4.8675042131350820          Piaton / Condorcet
424  45.7673654785190900  4.8056276995192775               Gorge de Loup
425  45.7646815056712300  4.8289833265225160    Place Ennemond Fousseret
426  45.7547065642496240  4.8534044474099280      Garibaldi / Pensionnat
427  45.7413487229911060  4.8797231637591720                     Laënnec

[428 rows x 3 columns]

In [131]:
lyon_velos_f.to_json (r'lyon_velos_f.json',force_ascii=False,orient = 'records')

## Export into JSON files

In [ ]:
df = DataFrame(data, columns= ['Product', 'Price'])
df.to_json (r'C:\Users\Ron\Desktop\Export_DataFrame.json')